[submodule "external/Breakdance"]
	path = external/Breakdance
	url = https://github.com/CloudNimble/Breakdance.git
[submodule "external/SimpleMessageBus"]
	path = external/SimpleMessageBus
	url = https://github.com/CloudNimble/SimpleMessageBus.git
	branch = v6
